{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .section{
        background: url("{% static 'img/Rectangle 603 (3).png' %}");
        height: 100%;
        width: 100%;
        padding-top: 66px;
        padding-bottom: 93px;
    }
    .novosti {
        display:flex;
        margin-left: 100px;
    }
    .novosti a{
        color: #A8C5E5;
    }
    .section h3{
        font-size: 56px;
        margin-left: 96px;
        margin-bottom: 57px;
    }
    .container-glav {
        padding-right: 115px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
    }
    .container-glav img{
        width: 480px;
        height: 341px;
    }
    .card {
        display: flex;
        background: white;
        margin-left: 100px;
    }
    .des {
        padding: 30px 30px 0px;
    }
    .des0 {
        font-size: 14px;
        color: #4D719B;
    }
    .des p{
        font-size: 16px;
        color: #22374F;
    }
    .des h5{
        font-size: 22px;
        color: #1B83FF;
    }
    .card-text {
        margin-bottom: 40px;
    }
    .custom-button {
        display: inline-block;
        padding: 5px 10px;
        border: 2px solid #1E90FF;
        border-radius: 20px;
        color: #1E90FF; 
        text-decoration: none; 
        font-family: Arial, sans-serif; 
        font-size: 16px;
        transition: background-color 0.3s, color 0.3s; 
    }

    .custom-button:hover {
        background-color: #1E90FF; 
        color: #ffffff; 
    }
    .pagination {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin-left: 99px;
        gap: 2px;
    }
    
    .page-item {
        margin: 0 5px;
    }
    
    .page-link {
        color: #4C1D95; /* Цвет ссылок */
        text-decoration: none;
        padding: 8px 12px;
        border: 1px solid #ddd; /* Граница вокруг ссылок */
        border-radius: 4px;
    }
    
    .page-link:hover {
        background-color: #f0f0f0; /* Фон при наведении */
    }
    
    .page-item .page-link {
        color: #000; /* Цвет активной страницы */
        background-color: #f0f0f0; /* Фон активной страницы */
        border: 1px solid #4C1D95; /* Цвет границы активной страницы */
    }
    
    .page-link i {
        font-style: normal; /* Иконка стрелки */
    }
    .btn.btn-warning {
        border: 2px solid #ffc107; 
        color: #ffc107; 
        background-color: transparent; 
        
    }
    .btn {
            display: inline-block;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            padding-left: 5.5px;
            padding-top: 3px;
            padding-right: 5.5px;
            padding-bottom: 3px;
        }
    .btn.btn-danger {
        border: 2px solid #dc3545;
        color: #dc3545; 
        background-color: transparent;
    }
    
    .btn.btn-warning:hover,
    .btn.btn-danger:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
</style>
<section>
    <div class="section">
        <div class="novosti">
            <a  href="{% url 'main' %}"><img src="{% static 'img/Vector 298.png' %}" alt=""></a>
            <a style="margin-left: 5px;" href="{% url 'main' %}">На главную</a>
        </div>
        <h3>Новости</h3>
        {% for item in news %}
            <div class="container-glav">
                <div class="card">
                    <div class="des"><p class="des0">{{ item.date }}</p>
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <a href="{% url 'detail_news' id=item.id %}" class="custom-button">Читать дальше</a>
                </div>
                    <img src="{{ item.image.url }}" class="card-img-top" alt="...">
                </div>
            </div>
        {% endfor %}
        {% if news.has_previous or news.has_next %}
            <nav>
                <div class="pagination">
                    {% if news.has_previous %}
                        <button class="page-item">
                            <a class="page-link" style="color:black;" href="?page={{ news.previous_page_number }}">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                        </button>
                    {% endif %}
                    {% for i in news.paginator.page_range %}
                        {% if news.number == i %}
                            <button class="page-item active">
                                <span class="page-link" style="color:black;">{{ i }}</span>
                            </button>
                        {% else %}
                            <button class="page-item">
                                <a style="color:black;" class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </button>
                        {% endif %}
                    {% endfor %}
                    {% if news.has_next %}
                        <button class="page-item">
                            <a class="page-link" href="?page={{ news.next_page_number }}">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </button>
                    {% endif %}
                </div>
            </nav>
        {% endif %}
    </div>
</section>
{% endblock content %}