{% load static %}
<style>
    footer {
        border-top: 1px solid #E0E0E0;
    }
</style>
<footer style="align-items: center; display: flex; flex-wrap: wrap; padding-top: 25px; padding-left: 50px; padding-right: 20px; padding-bottom: 20px;">
    <div class="der1" style="
    width: 825px;">
        <img style="width: 280px; height: 12px; margin-bottom:10px;" src="{% static 'img/© «Школа наставничества».png' %}" alt="">
    <img src="{% static 'img/Frame 2.png' %}" alt="">
    </div>
    <img src="{% static 'img/Rectangle 14.png' %}" alt="">
    <img style="margin-left: 10px;" src="{% static 'img/Rectangle 15.png' %}" alt="">
</footer>